@model MapR.Features.PlayGame.Models.GameAdmin
@{
	Layout = "_Layout";
	ViewData["Title"] = "Game Admin";
}
<div id="gameVue">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a href="/" class="btn navbar-brand">Home</a>
		<div class="btn-group">
			<button class="btn btn-secondary" data-toggle="modal" data-target="#newMapModal">Add Map</button>
			<div class="btn-group" role="group">
				<button id="mapGroupDropdown" type="button" class="btn btn-secondary dropdown-toggle"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Change Map
				</button>
				<div class="dropdown-menu" aria-labelledby="mapGroupDropdown">
					@foreach (var gameMap in Model.Maps)
					{
						<span class="dropdown-item"
							  v-on:click="setMap('@gameMap.Id')"
							  v-bind:class="{ active: '@gameMap.Id'==activeMapId }">
							@gameMap.Name
						</span>
					}
				</div>
			</div>
		</div>
		<div class="btn-group ml-sm-2">
			<button class="btn btn-secondary" data-toggle="modal" data-target="#newMarkerModal">Add Marker</button>
			<div class="btn-group" role="group">
				<button id="markerGroupDropdown" type="button" class="btn btn-secondary dropdown-toggle"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Markers
				</button>
				<div class="dropdown-menu" aria-labelledby="markerGroupDropdown">
				</div>
			</div>
		</div>
		<form asp-controller="Account" asp-action="Logout"
			  asp-route-returnurl="/" method="POST"
			  class="form-horizontal ml-auto">
			<button type="submit" title="Logout" class="btn btn-default btn-outline-dark">Logout</button>
		</form>
	</nav>
	<div id="mapVue">
		<map-vue v-bind:markers="markers" v-bind:map-src="activeMapUrl"></map-vue>
	</div>

	<add-marker-vue v-bind:game-id="gameId" v-bind:map-id="activeMapId" v-bind:connection="connection">

	</add-marker-vue>
	<add-map-vue v-bind:game-id="gameId"></add-map-vue>
</div><!-- gameAdminVue -->

<link rel="stylesheet" href="~/css/Map.css" asp-append-version="true" />
@section Scripts {
	<script asp-append-version="true" src="~/js/Game.js"></script>
	<script asp-append-version="true" src="~/js/GameAdmin.js"></script>
	<script asp-append-version="true" src="~/js/MapR.js"></script>
	<script src='https://unpkg.com/panzoom@7.1.2/dist/panzoom.min.js'></script>
	<script type="text/javascript">

    (function startUp(gameId, mapId){
        window.onload = gameAdmin.bind(window, gameId, mapId);
    })('@Model.GameId','@Model.ActiveMap.Id');

	</script>
}