@model MapR.Features.PlayGame.Models.GamePlayer
@{
	Layout = "_Layout";
	ViewData["Title"] = "Game";
}
<div id="gameVue">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a href="/" class="navbar-brand">Home</a>
		<h3>@Model.GameName - @Model.PrimaryMapName</h3>
		<div class="btn-group">
		</div>
		@if (Model.IsSignedIn)
		{
			<form asp-controller="Account" asp-action="Logout"
				  asp-route-returnurl="/" method="POST"
				  class="form-horizontal ml-auto">
				<button type="submit" title="Logout" class="btn btn-default btn-outline-dark">Logout</button>
			</form>
		}
		else
		{
			<form asp-controller="Account" asp-action="ExternalLogin"
				  asp-route-returnurl="/game/@Model.GameId" method="POST"
				  class="form-horizontal ml-auto">
				Sign in with
				@foreach (var provider in Model.AuthenticationSchemes)
				{
					<button type="submit" class="btn btn-outline-dark" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
				}
			</form>
		}
	</nav>

	<div id="mapVue">
		<map-vue v-bind:markers="markers" v-bind:map-src="activeMapUrl"></map-vue>
	</div>
</div>
<link rel="stylesheet" href="~/css/Map.css" asp-append-version="true" />
@section Scripts {
	<script asp-append-version="true" src="~/js/gamePlayer.js"></script>
	<script src='https://unpkg.com/panzoom@7.1.2/dist/panzoom.min.js'></script>
	<script type="text/javascript">

    (function startUp(gameId, mapId){
        window.onload = gamePlayer.bind(window, gameId);
    })('@Model.GameId');

	</script>
}
<link rel="stylesheet" href="~/css/Map.css" asp-append-version="true" />